#button_container {
    display: flex;
    justify-content: center;
}

#new_grid_btn {
    height: 100px;
    width: 100px;
    margin: 20px;
    
}


#grid {
    /* display: flex;
    gap: 4px;
    width: 940px;
    justify-content: center; */
}

.grid_box {
    min-height: 16px;
    min-width: 16px;
    background-color: mediumseagreen;
    flex: 1, 0, auto;
}

.divFlex {
    display: flex;
    margin: 1px;
    gap: 1px;
    justify-content: center;
}

