#grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.grid_box {
    height: 25px;
    width: 25px;
    background-color: mediumseagreen;
}

#button_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

