#button_container {
    display: flex;
    justify-content: center;
}

#new_grid_btn {
    height: 100px;
    width: 100px;
    margin: 20px;
    
}


#grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.grid_box {
    min-height: 25px;
    min-width: 25px;
    background-color: mediumseagreen;
    flex: 1, 0, auto;
}

